.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.border-md-left {
  border-left: 2px solid rgb(122, 122, 122);
}

.center-navbar {
  font-size: 40px !important;
  width:30%;
  margin-left: 35%;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #334255;
}
.footer-links {
  color: rgb(180, 180, 180);
  text-decoration: none;
}
.footer-links:visited {
  text-decoration: none;
}
.footer-links:hover {
  color: white;
  text-decoration: none;
}
.footer-links:active {
  color: white;
  text-decoration: none;
}
.images {
  height: 100px;
  width: 100px;
}
.main-nav {
  background-color: #334255;
}
.nav-logo {
  float: left !important;
  margin-top: -15px !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#page-container {
  position: relative;
  min-height: 100vh;
}
#page-container {
  position: relative;
  min-height: 100vh;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #334255;
  height: 9rem;            /* Footer height */
}